page-rankings {

}

#vpic {
    width: 100%;
    height: 17.1em;
  }

.myListItem{
    background-color: #ED3D3d;
    opacity: 0.5;
}
.r1img{
    background:transparent !important; 
    position:absolute;
    top: 10px;
    left:0;
}
