page-trending {
    .t1img{
        background:transparent !important; 
        position:absolute;
        top: 10px;
        left:0;
        
    }
    .vpic {
        width: 100%;
        height: 17.1em;
    }
    

}
