<div *ngIf="showSplash" class="splash">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>

<ion-menu [content]="content" [class]="selectedTheme">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [class]="selectedTheme">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <ion-item id="filter-toggle1">
      <ion-label>
        Night Mode
      </ion-label>
      <ion-toggle [(ngModel)]="nightMode" color="positive" checked="false" (ionChange)="enableNight()" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
    <button ion-button round outline icon-start color="danger" id="logoutBtn" (click)="logoutUser()">
      <ion-icon name="log-out"></ion-icon>
      Log Out
    </button>
  </ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content [class]="selectedTheme"></ion-nav>
