asn1crypto==0.24.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.1.4
dj-database-url==0.5.0
Django==1.11.10
django-cors-headers==2.2.0
djangorestframework==3.7.7
enum34==1.1.6
ez-setup==0.9
gcloud==0.18.3
googleapis-common-protos==1.5.3
gunicorn==19.7.1
httplib2==0.11.3
idna==2.6
ipaddress==1.0.19
joblib==0.11
numpy==1.14.2
oauth2client==4.1.2
ordereddict==1.1
pathlib==1.0.1
Pillow==5.0.0
pipenv==11.8.0
protobuf==3.6.0
psycopg2-binary==2.7.4
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
pyOpenSSL==17.5.0
pytz==2018.3
requests==2.18.4
rsa==3.4.2
scikit-surprise==1.0.5
scipy==1.1.0
six==1.11.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
